/* css fonts */
@font-face {
  font-family: Inter-regular;
  src: url("../fonts/inter-fonts/inter/Inter_18pt-Regular.ttf");
}
@font-face {
  font-family: Poppins-regular;
  src: url("../fonts/poppins-fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-medium;
  src: url("../fonts/poppins-fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/poppins-fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Poppins-Light;
  src: url("../fonts/poppins-fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: helveticaneuecyr_roman;
  src: url("../fonts/helvetoca/helveticaneuecyr_roman.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth; /* Sekin scroll qilish yoqiladi */
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  width: 100%;
  background: #0d0d0d;
  overflow-x: hidden;
  color: aliceblue;
  font-family: Poppins-regular;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}
/* header */
.header-container {
  background-image: url("../images/header-img/jamoa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  margin-bottom: 92px;
}

.container {
  max-width: 1612px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.mini-container {
  max-width: 1200px;
  width: 100%;
  padding: 20px 40px;
  margin: 0 auto;
}
.header {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  width: 94px;
  height: 72px;
}
.nav_list {
  display: flex;
  gap: 40px;
  padding: 16px 32px;
  border: 1px solid rgba(38, 38, 38, 1);
  border-radius: 50px;
  background-color: rgba(23, 23, 23, 0.6);
}
.nav-list-item_link {
  font-family: Inter-regular;
  font-size: 16px;
  line-height: 21px;
  color: rgba(122, 122, 122, 1);
  transition: 0.1s;
}
.nav-list-item_link:hover {
  color: #fff;
}

.header_right_phone {
  padding: 16px 27px 16px 28px;
  background-color: rgba(23, 23, 23, 0.6);
  color: rgba(204, 204, 204, 1);
  font-size: 16px;
  border-radius: 50px;
  transition: 0.3s;
}
.header_right_phone:hover {
  color: #fff;
}
/* icon */
.modal_menu_open {
  display: none;
}
.modal_open_icon {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-bars {
  color: #0d0d0d;
  font-size: 24px;
}
/* modal qismi */
.modal {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 10px 50px 10px;
  transition: left 0.5s ease;
}
.open_modal_left {
  left: 0;
}
.modal_header_top {
  display: flex;
  padding: 0 50px 0 50px;
}
.modal_header_top_img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
.modal_close {
  font-size: 24px;
}
.modal_nav_list {
  margin: 20px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  width: 100%;
}
.modal_nav-list-item_link {
  color: #fff;
  font-size: 24px;
  font-family: Inter-regular;
}
.modal_header_right {
  max-width: 300px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 80px;
}
.modal_header_right_phone {
  color: #fff;
  padding: 16px 27px 16px 28px;
  background-color: rgba(23, 23, 23, 0.6);
  font-size: 16px;
  border-radius: 50px;
  transition: 0.3s;
  width: 100%;
}
/*  HEADER BOTTOM QISMI */
.header_box_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 85px 0;
  margin-bottom: 80px;
}
.header_box_bottom_title {
  max-width: 683px;
  font-family: Poppins-medium;
  font-size: 132px;
  line-height: 132px;
  text-align: center;
  color: white;
  background: linear-gradient(243.33deg, #fffff7 8.55%, #727267 100%);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: -2.4px;
  margin-bottom: 30px;
  font-weight: 500;
}
.header_box_bottom_prh {
  max-width: 516px;
  text-align: center;
  font-family: Inter-regular;
  color: rgb(185, 188, 177);
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 49px;
}
.header_box_bottom_link {
  padding: 10px 15px 10px 24px;
  background-color: #fff;
  border-radius: 22px;
  display: flex;
  align-items: center;
  gap: 22px;
}

.header_box_bottom_link_span {
  font-family: Poppins-medium;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
}
.header_box_bottom_link_img {
  width: 38px;
  height: 38px;
}
/* MAIN QISMI */

/* MAIN-CARD QISMI */
.main-card {
  text-align: center;
  width: 100%;
}

.main-card_title {
  margin-top: 50px;
  font-size: 30px;
  line-height: 52px;
  letter-spacing: -1.32px;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 82px;
}
.main-card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 27px;
}
.main-card_container_box {
  max-width: 100%;
  width: 100%;
  background-color: #1b1b1b;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 0 0 10px 0;
  height: 255px;
}

.main-card_container_box_banner {
  background-color: rgba(255, 255, 255, 1);
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  border-radius: 29px;
}
.main-card_container_box_banner_img {
  width: 69px;
  height: 69px;
}
.main-card_container_box_prg {
  width: 210px;
  line-height: 24px;
  text-align: center;
}

/* MAIN-PRIVILEGE */
.main-privilege {
  text-align: center;
  position: relative;
  margin-bottom: 130px;
}
.main-privilege_left {
  width: 330px;
  position: absolute;
  left: -350px;
  bottom: -320px;
}

.main-privilege_title {
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 52px;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: -1.32px;
}
.main_privilege_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.netvorking_box {
  width: 100%;
  display: flex;
  padding: 15px 15px 16px 21px;
  max-width: 300px;
  background-color: rgba(27, 27, 27, 1);
  align-items: center;
  border-radius: 30px;
  gap: 18px;
}
.netvorking_box_img {
  width: 84px;
  height: 84px;
}
.netvorking_box_title {
  color: rgba(204, 204, 204, 1);
}
.razborlar_box {
  width: 100%;
  display: flex;
  padding: 15px 15px 16px 21px;
  max-width: 300px;
  background-color: rgba(27, 27, 27, 1);
  align-items: center;
  border-radius: 30px;
  gap: 18px;
}
.razborlar_box_img {
  width: 80px;
  height: 80px;
}
.razborlar_box_title {
  color: rgba(204, 204, 204, 1);
}
.spiker_box {
  width: 100%;
  display: flex;
  padding: 15px 15px 16px 21px;
  max-width: 300px;
  border-radius: 30px;
  background-color: rgba(27, 27, 27, 1);
  align-items: center;
  gap: 18px;
}
.spiker_box_img {
  width: 85px;
  height: 85px;
}
.spiker_box_title {
  color: rgba(204, 204, 204, 1);
}
/* MAIN - FORM */

.contact_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
  position: relative;
}
.contact_box_title {
  max-width: 840px;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: -1.32px;
  text-align: center;
  background: linear-gradient(
    71.83deg,
    #fffff9 0,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 47px;
}
.form {
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.name_form {
  display: flex;
  flex-direction: column;
  max-width: 318px;
  width: 100%;
}
.name_label {
  font-size: 17px;
  line-height: 25px;
  color: rgba(215, 215, 215, 1);
  font-family: Poppins-medium;
  margin-left: 15px;
  margin-bottom: 8px;
}
.name_input {
  border: none;
  padding: 15px;
  border-radius: 22px;
  outline: none;
}
.phone_form {
  display: flex;
  flex-direction: column;
  max-width: 318px;
  width: 100%;
}
.phone_label {
  font-size: 17px;
  line-height: 25px;
  color: rgba(215, 215, 215, 1);
  font-family: Poppins-medium;
  margin-left: 15px;
  margin-bottom: 8px;
}
.phone_input {
  border: none;
  padding: 15px;
  border-radius: 22px;
  outline: none;
}
.form_button {
  max-width: 235px;
  width: 100%;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  border: none;
}
.form_button_span {
  font-family: Poppins-medium;
  font-size: 20px;
  font-weight: 500;
  padding: 12px 15px;
  line-height: 30px;
}
.contact_box_img {
  position: absolute;
  width: 320px;
  right: -390px;
  bottom: -250px;
}

/* ABOUT  Our */
.about_our {
  padding: 0 40px;
  margin-bottom: 140px;
}
.about_our_title {
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  font-size: 30px;
  line-height: 52px;
  letter-spacing: -1.32px;
  margin-bottom: 80px;
}
.about_our_boxes {
  display: flex;
  gap: 30px;
}
.about_our_row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  gap: 22px;
}
.about_our_row_title {
  font-family: Poppins-SemiBold;
  font-size: 51px;
  line-height: 41px;
  letter-spacing: -1.14px;
  color: rgba(204, 204, 204, 1);
}
.about_our_row_prh {
  max-width: 497px;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: -1.14px;
  color: rgba(204, 204, 204, 1);
}
.about_our_img_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_our_img {
  width: 100%;
}
/* STATIC SECTION */
.statistic_section {
  margin-bottom: 164px;
}
.statistic_section_title {
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  font-size: 30px;
  line-height: 52px;
  letter-spacing: -1.32px;
  margin-bottom: 80px;
}
.statistic_section_text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 30px;
  gap: 20px;
}
.member {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.member_title {
  font-size: 70px;
  line-height: 73px;
  letter-spacing: -1.4px;
  text-align: center;
  margin-bottom: 12px;
  background: linear-gradient(
    29.07deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  font-weight: 400;
}
.member_prh {
  max-width: 291px;
  text-align: center;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: rgba(122, 122, 122, 1);
}
/* MISION - SECTION*/
.mision-section {
  position: relative;
  padding: 0 40px;
  margin-bottom: 100px;
}
.mision-section_title {
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  font-size: 30px;
  line-height: 52px;
  letter-spacing: -1.32px;
  margin-bottom: 40px;
}
.mision-section_box {
  padding: 78px 75px 99px 75px;
  text-align: center;
  background: linear-gradient(113.49deg, #ffffff 0%, #d2d2d2 100%);
  border-radius: 24px;
}
.mision-section-box_img {
  width: 189px;
  height: 189px;
  position: absolute;
  right: -30px;
  bottom: -30px;
}
.mision-section-box_prh {
  max-width: 100%;
  font-family: Poppins-medium;
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: -1.62px;
  text-align: center;
  background: rgba(0, 0, 0, 1);
  color: transparent;
  background-clip: text;
}
/* INFO SECTION */
.info-section {
  padding: 0 30px;
  margin-bottom: 100px;
}
.info-section_title {
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  font-size: 30px;
  line-height: 52px;
  letter-spacing: -1.32px;
  margin-bottom: 40px;
}
.info-section_col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 82px;
}
.info-section_box {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 15px 18px 15px 20px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
}
.info-section_box:nth-child(1) {
  order: 1;
}
.info-section_box:nth-child(2) {
  order: 2;
}
.info-section_box:nth-child(3) {
  order: 3;
}
.info-section_box:nth-child(4) {
  order: 1;
}
.info-section_box:nth-child(5) {
  order: 2;
}
.info-section_box:nth-child(6) {
  order: 3;
}

.info-section-box_title {
  font-family: Poppins-medium;
  font-weight: 500;
  font-size: 120px;
  line-height: 132px;
  align-items: center;
  text-align: center;
  background: rgba(224, 224, 224, 1);
  color: transparent;
  background-clip: text;
}
.info-section-box_prg {
  line-height: 26px;
  letter-spacing: -1.14px;
  background: rgba(0, 0, 0, 1);
  color: transparent;
  background-clip: text;
}
.info_title_box {
  display: flex;
}
/* CONDITIONS */
.conditions {
  padding: 0 40px 40px 40px;
}
.conditions_title {
  font-size: 50px;
  line-height: 52px;
  letter-spacing: -1.32px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 40px;
  font-weight: 400;
}
.conditions_prh {
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  font-size: 30px;
  line-height: 52px;
  letter-spacing: -1.32px;
  margin-bottom: 20px;
}
.conditions_col {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 52px;
}

.conditions_col_box {
  padding: 0 40px;
  grid-column: span 2;
  display: flex;
  padding: 30px 16px;
  align-items: center;
  justify-items: center;
  gap: 16px;
  background-color: rgba(27, 27, 27, 1);
  border-radius: 30px;
}
.conditions_col_box:nth-child(5) {
  grid-column: span 3;
  max-width: 380px;
}
.conditions_col_box:nth-child(4) {
  grid-column: span 3;
  max-width: 380px;
  margin-left: auto;
}

.conditions_col_circle_img {
  max-width: 90px;
  max-height: 90px;
}
.consditions_col_box_circle_prh {
  height: auto;
  line-height: 24px;
  letter-spacing: -0.52px;
  color: rgba(204, 204, 204, 1);
}

/* whitee box */
.white_box {
  background-color: #fff;
}
/* <!-- MEETING SECTION --> */
.meeting_section {
  padding: 30px 40px 40px 40px;
}
.meeting_section_title {
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #000000 0%,
    rgba(24, 24, 24, 0.34) 100%
  );

  color: transparent;
  background-clip: text;
  font-size: 30px;
  line-height: 52px;
  letter-spacing: -1.32px;
  margin-bottom: 20px;
}
.meeting_section_col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 40px;
}
.meeting_section_col_box {
  display: flex;
  gap: 22px;
}

.meeting_section_col_box_img {
  max-width: 50px;
  min-height: 50px;
  object-fit: cover;
}
.meeting_section_col_box_prh {
  background: rgba(0, 0, 0, 1);
  color: transparent;
  background-clip: text;
  line-height: 26px;
  letter-spacing: -1.14px;
}
.meeting_section_col_box_prh_bold {
  font-weight: 600px;
}
.razbor_meeting {
  font-weight: 900;
}
/* ASIDE JOINING */
.joining-article {
  padding: 20px 40px;
  margin-bottom: 87px;
}
.joining-article_title {
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  font-size: 30px;
  line-height: 52px;
  letter-spacing: -1.32px;
  margin-bottom: 40px;
}
.joining_article_col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 37px 22px 37px;
  background-color: #fff;
  border-radius: 24px;
  gap: 20px;
}
.joining-article_col_box:nth-child(3) {
  max-width: 160px;
}
.joining-article_col_box:nth-child(5) {
  max-width: 160px;
}

.strelka_img {
  width: 43px;
  margin-top: 80px;
}
.joining-article_col_box {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 257px;
  background: rgba(0, 0, 0, 1);
  color: transparent;
  background-clip: text;
}
.joining-article_col_box_img {
  width: 74px;
  height: 74px;
}
.joining-article_col_box_prh {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -1px;
}
.joining-article_col_box_prh_link {
  color: #4f9bff;
}
.joining-article_col_box_check {
  width: 49px;
  height: 49px;
}

/* PRICE SECTION */
.price-section {
  margin-bottom: 130px;
  padding: 0 5px;
}
.price_aside {
  padding: 0 40px;
}
.price-section_title {
  font-size: 44px;
  line-height: 52px;
  letter-spacing: -1.32px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 50px;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
}
.price-section_prh {
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  font-size: 30px;
  line-height: 52px;
  letter-spacing: -1.32px;
  margin-bottom: 40px;
}
.price-section_prh_num {
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  font-size: 115px;
  line-height: 120px;
  letter-spacing: -1.62px;
  margin-bottom: 30px;
}
.price-section_month {
  padding: 30px;
  border-top: 4px dashed rgba(76, 76, 76, 1);
}
.price-section_month_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 44px;
}
.monthly-three:nth-child(2) {
  background-color: #1b1b1b;
}
.monthly-three:nth-child(3) {
  background-color: #121212;
}

.price-section_month_title {
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  font-size: 30px;
  line-height: 52px;
  letter-spacing: -1.32px;
  margin-bottom: 40px;
}
.monthly-three {
  padding: 35px 16px 33px 14px;
  border-radius: 30px;
  background-color: rgba(38, 38, 38, 1);
  gap: 22px;
  position: relative;
}
.monthly-three_title {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 22px;
  background: rgba(204, 204, 204, 1);
  color: transparent;
  background-clip: text;
}
.monthly-three_prh {
  text-align: center;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: -0.52;
  background: rgba(204, 204, 204, 1);
  color: transparent;
  background-clip: text;
}
.mothly_num {
  position: absolute;
  font-size: 140px;
  bottom: 54px;
  left: 10px;
  opacity: 5%;
  font-weight: 600;
}
/* MEMBER SECTION */
.club-members {
  padding: 0 40px;
  margin-bottom: 150px;
}
.club-members_title {
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  font-size: 30px;
  line-height: 52px;
  letter-spacing: -1.32px;
  margin-bottom: 40px;
}
.club-members_col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 22px;
  padding: 0 20px;
}
.club-members_col_box {
  padding: 14px 15px 22px 14px;
  background-color: #1b1b1b;
  border-radius: 30px;
}
.club-members_col-box_img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
.club-members_col-box_title {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.52px;
  font-weight: 500;
  margin-bottom: 8px;
}
.club-members_col-box_prh {
  font-size: 13px;
  line-height: 13px;
  font-weight: 300;
  font-family: Poppins-Light;
}
.club-members_col_box_number {
  font-family: Poppins-medium;
  font-size: 120px;
  line-height: 132px;
  letter-spacing: -0.52px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
.main-privilege_left_bottom {
  position: absolute;
  width: 330px;
  bottom: -230px;
  right: -400px;
}
.contact_box_img_bottom {
  position: absolute;
  width: 330px;
  left: -340px;
  top: -200px;
}
/* CONNECTION */
.connection-section {
  padding: 62px 48px 64px 48px;
  background: linear-gradient(113.49deg, #1a1a1a 0, #0d0d0d 100%);
  border-radius: 24px;
}
.connection-section_title {
  font-size: 54px;
  line-height: 55px;
  letter-spacing: -1.62px;
  font-weight: 500;
  text-align: center;
}
.connection-section_prh {
  font-size: 45px;
  line-height: 55px;
  letter-spacing: -1.62px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.connection-section_col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 13px 63px;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  gap: 10px;
  border-radius: 22px;
}
.connection-section_col_box:nth-child(2) {
  border-left: 2px dashed #c1c1c1;
  border-right: 2px dashed #c1c1c1;
  padding: 6px 37px;
}
.connection-section_col_box_title {
  font-weight: 500;
  font-family: Poppins-medium;
  font-size: 17px;
  line-height: 25.5px;
  background: rgba(173, 173, 173, 1);
  color: transparent;
  background-clip: text;
}
.connection-section_col_box_link {
  font-weight: 500;
  font-family: Poppins-medium;
  font-size: 18px;
  line-height: 27.5px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.04em;
}

/* FOOTER */

.footer_boxes {
  padding: 40px 80px 40px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer_logo_img {
  width: 69px;
  height: 50px;
}
.footer_title {
  font-size: 18px;
  line-height: 17.91px;
  background: rgba(201, 201, 201, 1);
  color: transparent;
  background-clip: text;
  font-family: helveticaneuecyr_roman;
  margin-left: 100px;
}
.footer_right_box {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer_box_img {
  width: 23px;
  height: 22px;
}
.footer_box_prh:hover {
  color: #fff;
}
.footer_box_prh {
  font-size: 18px;
  line-height: 16px;
  background: rgba(200, 200, 200, 1);
  color: transparent;
  background-clip: text;
}
.form_button:hover {
  background-color: rgb(216, 214, 214);
}

/* validator */
.error_name {
  font-size: 12px;
  color: red;
  margin-top: 2px;
  margin-left: 5px;
}
.error_tel {
  font-size: 12px;
  color: red;
  margin-top: 2px;
  margin-left: 15px;
}
.hidden {
  display: none;
}
/* media query */

@media (max-width: 1090px) {
  .razborlar_box {
    max-width: 45%;
  }
  .spiker_box {
    max-width: 45%;
  }
  .netvorking_box {
    max-width: 45%;
  }
  .form {
    padding: 0;
  }
  .info-section_col {
    gap: 20px 40px;
  }
  .conditions_col {
    grid-template-columns: 1fr 1fr;
  }
  .conditions_col_box {
    grid-column: span 1;
    max-width: 100%;
  }
  .conditions_col_box:nth-child(4) {
    grid-column: span 1;
    max-width: 100%;
  }
  .conditions_col_box:nth-child(5) {
    grid-column: span 1;
    max-width: 100%;
  }
}

@media (max-width: 1049px) {
  .main-card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .main-card_container_box {
    width: 100%;
  }
  .about_our_row_prh {
    line-height: 38px;
  }
}
@media (max-width: 1000px) {
  .meeting_section_col {
    grid-template-columns: 1fr;
  }
  .meeting_section_col_box_prh {
    font-size: 20px;
  }
  .club-members_col {
    grid-template-columns: 1fr 1fr;
  }
  .connection-section_col {
    grid-template-columns: 1fr;
  }
  .connection-section_col_box:nth-child(2) {
    border-left: none;
    border-right: none;
    border-top: 2px dashed #c1c1c1;
    border-bottom: 2px dashed #c1c1c1;
    padding: 10px 0;
  }
  .connection-section_col {
    padding: 13px 25px;
  }
}
@media (max-width: 980px) {
  .price-section_month_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 950px) {
  .statistic_section_text {
    grid-template-columns: 1fr 1fr;
  }
  .member_title {
    font-size: 54px;
    line-height: 1.2;
    text-align: left;
  }
  .member_prh {
    font-size: 18px;
    max-width: 200px;
  }
  .member_left_box {
    width: 100%;
    text-align: left;
  }
  .info-section_box {
    gap: 20px;
  }
  .footer_boxes {
    padding: 40px 40px 40px 50px;
  }
  .footer_title {
    margin-left: 20px;
  }
}
@media (max-width: 884px) {
  .info-section_col {
    grid-template-columns: 1fr;
  }
  .info-section_box:nth-child(1) {
    order: 1;
  }
  .info-section_box:nth-child(2) {
    order: 2;
  }
  .info-section_box:nth-child(3) {
    order: 3;
  }
  .info-section_box:nth-child(4) {
    order: 4;
  }
  .info-section_box:nth-child(5) {
    order: 5;
  }
  .info-section_box:nth-child(6) {
    order: 6;
  }
  .info-section_box {
    padding-left: 20px;
  }
  .conditions {
    padding: 0 10px 40px 10px;
  }
}
@media (max-width: 824px) {
  /*  header modal */
  .header_right {
    display: none;
  }
  .header_nav {
    display: none;
  }
  .modal_menu_open {
    display: flex;
  }
  /* HEADER QISMI */
  .header {
    padding: 35px 15px;
  }
  .header_logo {
    height: 50px;
    width: 75px;
  }

  /* HEADER BOTTOM QISMI */
  .header_box_bottom_title {
    font-size: 53px;
    line-height: 1;
    margin-bottom: 25px;
  }
  .header_box_bottom_prh {
    width: 250px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .header_box_bottom_link {
    padding: 8px 14px 8px 20px;
    font-size: 16px;
    line-height: 1;
  }
  .header_box_bottom_link_img {
    width: 30px;
    height: 30px;
  }

  .about_our_row_title {
    font-size: 36px;
  }
  .about_our_row_prh {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 768px) {
  .statistic_section_text {
    grid-template-columns: 1fr;
  }
  .member_title {
    text-align: center;
  }
  .member_left_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main-card_container_box_banner {
    width: 90px;
    height: 90px;
  }
  .main-card_container_box_banner_img {
    width: 49px;
    height: 49px;
  }
  .main-card_container_box {
    max-width: 300px;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  .main-card_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 0;
  }
  .main-card_container_box_prg {
    padding: 0 2px;
    font-size: 18px;
    line-height: 20px;
  }
  .main-card_title {
    font-size: 27px;
    margin-bottom: 47px;
  }
  .header-container {
    margin-bottom: 70px;
  }
  .main_privilege_boxes {
    align-items: center;
    justify-content: center;
  }

  .header_box_bottom_title {
    font-size: 43px;
    margin-top: 20px;
  }

  /* contact -main */
  .contact_box_title {
    font-size: 27px;
    margin-bottom: 28px;
    line-height: 1.2;
  }
  .form {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
  }
  .name_form {
    max-width: 100%;
  }
  .phone_form {
    max-width: 100%;
  }
  .form_button {
    margin: 0;
  }
  .razborlar_box {
    max-width: 100%;
  }
  .spiker_box {
    max-width: 100%;
  }
  .netvorking_box {
    max-width: 100%;
  }
  .header_box_bottom_link_img {
    width: 30px;
  }
  .about_our_boxes {
    flex-direction: column-reverse;
  }
  .about_our {
    padding: 0 15px;
  }

  /* MISSON */
  .mision-section-box_prh {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -1px;
  }
  .mision-section_box {
    padding: 40px 30px;
  }
  .mision-section-box_img {
    width: 121px;
    height: 121px;
    right: 0;
  }
  .info-section-box_title {
    font-size: 80px;
  }
  info-section-box_prg {
    font-size: 16px;
    line-height: 1.2;
  }
  .conditions_col {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .conditions_col_box {
    padding: 16px;
    max-width: 100%;
    gap: 10px;
  }
  .conditions {
    padding: 0 0 40px 0;
  }
  .conditions_title {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .conditions_prh {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .conditions_col_circle_img {
    width: 70px;
  }
  .consditions_col_box_circle_prh {
    font-size: 18px;
    line-height: 20px;
  }

  .meeting_section {
    padding: 30px 10px;
  }
  .joining-article {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
  }
  .joining_article_col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 430px;
  }
  .joining-article_col_box {
    align-items: center;
    text-align: center;
  }
  .strelka_img {
    margin: 40px 0;
    transform: rotate(90deg);
  }
  .price-section_title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 32px;
  }
  .price-section_prh {
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .price-section_prh_num {
    font-size: 83px;
    line-height: 1;
  }
  .price-section_month_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  .price-section_month_title {
    font-size: 22px;
    line-height: 1.2;
  }
  .monthly-three_title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .monthly-three_prh {
    font-size: 22px;
  }
  .mothly_num {
    font-size: 110px;
  }
  .club-members_col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .connection-section_title {
    font-size: 28px;
    line-height: 1;
  }
  .connection-section_prh {
    font-size: 24px;
    line-height: 1;
  }
  .connection-section {
    padding: 40px 20px;
  }
  .footer_boxes {
    flex-direction: column;
    gap: 40px;
  }
  .footer_title {
    margin-left: 0;
    order: 3;
  }
  .main-privilege_left {
    width: 160px;
    left: -80px;
    bottom: -250px;
  }
  .contact_box_img {
    width: 160px;
    right: -100px;
    bottom: -140px;
  }
  .contact_box_img_bottom {
    width: 160px;
    left: -100px;
    top: -100px;
  }
  .main-privilege_left_bottom {
    width: 160px;
    right: -100px;
    bottom: -70px;
  }
  .netvorking_box_img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .razborlar_box_img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .spiker_box_img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .mini-container {
    padding: 20px;
  }
  .form_button_span {
    font-size: 16px;
  }
  .form_button {
    width: 90%;
  }
  .about_our {
    margin-bottom: 50px;
  }
  .statistic_section {
    padding: 0 10px;
  }
  .statistic_section {
    margin-bottom: 20px;
  }
  .statistic_section_title {
    margin-bottom: 20px;
  }
  .mision-section {
    margin-bottom: 60px;
  }
  .info-section_title {
    text-align: center;
    line-height: 32px;
    font-size: 24px;
    margin-right: auto;
    margin-left: auto;
  }
  .main-privilege_title {
    margin-bottom: 20px;
  }
  .consditions_col_box_circle_prh {
    text-align: start;
  }
  .price-section {
    margin-bottom: 30px;
  }
  .club-members_col_box {
    max-width: 300px;
  }
}

@media (max-width: 600px) {
  .info-section {
    padding: 0 10px;
    margin-bottom: 60px;
  }
  .info-section_box {
    padding: 5px 10px 5px 10px;
  }
  .info-section-box_prg {
    line-height: 18px;
    font-size: 15px;
  }
}

@media (max-width: 468px) {
  .about_our_img {
    max-width: 600px;
  }
  .mini-container {
    padding: 0;
  }
  .main_privilege_boxes {
    padding: 0 20px;
  }
  .mision-section_box {
    padding: 20px 10px;
  }
  .mision-section-box_prh {
    font-size: 18px;
  }
  .conditions_col {
    padding: 0 10px;
  }

  .meeting_section {
    padding: 30px 20px;
  }
  .meeting_section_col_box_prh {
    font-size: 16px;
    line-height: 18px;
  }
  .joining_article_col {
    gap: 5px;
  }
  .price_aside {
    padding: 0 30px;
  }
  .connection-section {
    padding: 40px 10px;
  }
  .joining-article_col_box_prh {
    font-size: 16px;
    line-height: 18px;
  }
  .joining-article {
    margin-bottom: 50px;
  }
}
