/* css fonts */
@font-face {
  font-family: Inter-regular;
  src: url("./fonts/inter-fonts/inter/Inter_18pt-Regular.ttf");
}
@font-face {
  font-family: Poppins-regular;
  src: url("./fonts/poppins-fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-medium;
  src: url("./fonts/poppins-fonts/Poppins-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  max-width: 100vw;
  width: 100%;
  background: #0d0d0d;
  overflow-x: hidden;
  color: aliceblue;
  font-family: Poppins-regular;
  font-size: 20px;
  line-height: 24px;
  border: 2px solid red;
  position: relative;
}
/* header */
.header-container {
  background-image: url("./images/header-img/jamoa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  height: 1400px;
}

.container {
  max-width: 1612px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid red;
}
.header {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  width: 94px;
  height: 72px;
}
.nav_list {
  display: flex;
  gap: 40px;
  padding: 16px 32px;
  border: 1px solid rgba(38, 38, 38, 1);
  border-radius: 50px;
  background-color: rgba(23, 23, 23, 0.6);
}
.nav-list-item_link {
  font-family: Inter-regular;
  font-size: 16px;
  line-height: 21px;
  color: rgba(122, 122, 122, 1);
  transition: 0.1s;
}
.nav-list-item_link:hover {
  color: #fff;
}

.header_right_phone {
  padding: 16px 27px 16px 28px;
  background-color: rgba(23, 23, 23, 0.6);
  color: rgba(204, 204, 204, 1);
  font-size: 16px;
  border-radius: 50px;
  transition: 0.3s;
}
.header_right_phone:hover {
  color: #fff;
}
/* icon */
.modal_menu_open {
  display: none;
}
.modal_open_icon {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-bars {
  color: #0d0d0d;
  font-size: 24px;
}
/* modal qismi */
.modal {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1000;
}
.open_modal_left {
    left: 0;
}

/* media query */
@media (max-width: 824px) {
  /*  header modal */
  .header_right {
    display: none;
  }
  .header_nav {
    display: none;
  }
  .modal_menu_open {
    display: flex;
  }
  .header {
    padding: 20px 15px;
  }
  .header_logo {
    height: 50px;
  }
}
